.benefits {
    padding-top: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 220px;
    font-family: "DM Sans", sans-serif;
}

.benefits__header {
    padding-left: 20px;
    padding-right: 20px;
}

.benefits__title {
    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.benefits__description {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #010D3E;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px
}

.benefits__item {
    border-radius: 20px;
    border: 1px solid #00000011;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 810px) {
    .benefits {
        padding-bottom: 187px;
    }

    .benefits__description {
        padding-top: 24px;
        padding-left: 110px;
        padding-right: 110px;
    }

    .benefits__list {
        padding-top: 65px
    }
}

@media screen and (min-width: 1200px) {
    .benefits__title {
        padding-left: 200px;
        padding-right: 200px;
    }

    .benefits__description {
        padding-left: 320px;
        padding-right: 320px;
    }

    .benefits__list {
        flex-direction: row;
    }

    .benefits {
        padding-bottom: 170px;
    }
}