.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px;

    &__image {padding-bottom: 18px;}

    &__title {
        text-align: center;
        padding-bottom: 17px;
    }

    &__text {
        text-align: center;
        width: 335px;
        color: #010D3E;
    }
}

@media screen and (min-width: 810px) {
    .card {
        padding-top: 39px;
        padding-left: 75px;
        padding-right: 75px;
    }
}