.footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 115px;
    color: #BCBCBC;
    font-family: "DM Sans", sans-serif;

    &__description {
        padding-top: 22px;
        line-height: 1.2;
        width: 300px;
    }

    &__social {
        display: flex;
        flex-direction: row;
        padding-top: 31px;
        gap: 11px;

        &-link {
            width: 20px;
            height: 20px;
        }
    }

    &__nav {padding-top: 70px;}

    &__item-links {padding-bottom: 34px;}

    &__item-title {
        color: #FFFFFF;
        padding-bottom: 22px;
    }

    &__link {
        color: #7B7B7B;
        text-decoration: none;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }
    }
}

@media screen and (min-width: 810px) {
    .footer {
        flex-direction: row;
        padding-bottom: 15px;
    }

    .footer__description {
        width: 230px;
    }

    .footer__social {
        padding-top: 110px;
    }

    .footer__nav {
        padding-top: 2px;
        padding-left: 132px;
        gap: 50px;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .footer__nav {
        padding-left: 522px;
    }
}