.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 38px;
}

.card__image {
    padding-bottom: 18px;
}

.card__title {
    text-align: center;
    padding-bottom: 17px;
}

.card__text {
    text-align: center;
    width: 335px;
    color: #010D3E;
}