.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comment__text {
    width: 248px;
    text-align: left;
    padding-bottom: 17px;
}

.comment__person {
    display: flex;
    flex-direction: row;
}

.comment__person-image {
    width: 42px;
    height: 42px;
}

.comment__person-info {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-left: 10px;
}

.comment__person-handle {
    text-decoration: none;
    color: #000000;
}