.header {
    display: flex;
    flex-direction: column;
    background-color: #EAEEFE;
    padding-bottom: 55px;
}

.bar {
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bar__text {
    color: rgba(255, 255, 255, 0.6);
    display: none;
}

.bar__link {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 19px
}

.navigation__list {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 1px;
    padding-left: 72px;
    padding-right: 25px;
}

.navigation__item-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.header__button {
    display: none;
}

.header__menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    background: transparent;
    padding-top: 4px;
    height: 20px;
    width: 20px;
}

@media screen and (min-width: 810px) {
    .header {
        padding-bottom: 125px;
    }

    .header__navigation {
        padding-left: 16px;
        padding-right: 10px;
        justify-content: flex-start;
    }

    .navigation__list {
        display: flex;
    }

    .header__button {
        display: block;
    }

    .header__menu {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .bar__text {
        display: block;
    }

    .navigation__list {
        padding-left: 463px;
    }
}