html {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

.productivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 19.5px;
    padding-bottom: 75px;
    background: linear-gradient(222deg,
        #EAEEFE 40%, 
        #183EC2 100%);
}

.productivity__title {
    padding-top: 24px;
}

.productivity__description {
    padding-top: 33px;
    width: 365px;
}

.productivity__buttons {
    padding-top: 36px;
}

.productivity__list {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.productivity__image--mobile {
    height: 388px;
    width: 388px;
    padding-top: 95px;
    z-index: 2;
}

.productivity__image--tablet {
    position: absolute;
    top: -84px;
    right: 0;
    z-index: 2;
    width: 216;
    display: none;
}

.productivity__image--desktop {
    position: absolute;
    top: -84px;
    right: 5px;
    z-index: 2;
    width: 216;
    display: none;
}

.productivity__image--cylinder {
    position: absolute;
    top: -95px;
    right: 149px;
    z-index: 1;
    display: none;
}

.productivity__image--torus {
    position: absolute;
    top: 397px;
    right: 0;
    display: none;
}

.sponsors {
    padding-top: 52px;
    position: relative;
    overflow: hidden;
}

.sponsors__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 27px;
    justify-content: center;
    align-items: center;
}

.sponsors__item-image {
    display: block;
    opacity: 0.3;
}

.sponsors__item:nth-child(3) .sponsors__item-image {
    opacity: 1;
}

.sponsors::before,
.sponsors::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    pointer-events: none;
    z-index: 1;
}

.sponsors::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sponsors::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 160px;
    background: linear-gradient(222deg,
        #FFF 40%, 
        #D2DCFF 100%);
    padding-bottom: 103px;
}

.product__header {
    padding-left: 13px;
    padding-right: 13px;
}

.product__title {
    padding-top: 17px;
    text-align: center;
}

.product__description {
    padding-top: 17px;
    text-align: center;
}

.product__image_mobile {
    margin-top: -28px;
    height: 366px;
    width: 430px;
}

.product__image_tablet {
    display: none;
    height: 605px;
    width: 810px;
    margin-top: -14px;
}

.product__image_pyramid {
    display: none;
    position: absolute;
    top: 356px;
    right: -116px;
}

.product__image_torus {
    display: none;
    position: absolute;
    top: 608px;
    left: -96px;
}

.product__list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 12px;
    width: 265px;
}

.benefits {
    padding-top: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 220px;
}

.benefits__header {
    padding-left: 20px;
    padding-right: 20px;
}

.benefits__title {
    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.benefits__description {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #010D3E;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px
}

.benefits__item {
    border-radius: 20px;
    border: 1px solid #00000011;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.price__header {
    padding-left: 20px;
    padding-right: 20px;
}

.price__title {
    padding-top: 17px;
    text-align: center;
    letter-spacing: -4%;
    word-spacing: -4px;
    padding-left: 20px;
    padding-right: 20px;
}

.price__description {
    padding-top: 20px;
    text-align: center;
    color: #010D3E;
    padding-left: 10px;
    padding-right: 10px;
}

.price__list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.price__item {
    border-radius: 25px;
    border: 1px solid #00000011;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    padding-top: 43px;
    padding-right: 38px;
    padding-bottom: 48px;
    box-sizing: border-box;
}

.price__item-header {
    display: flex;
    flex-direction: row;
}

.price__item-title {
    color: #6F6C90;
}

.price__item-cost {
    padding-top: 39px;
    padding-bottom: 38px;
}

.price__item-cost_color_gray {
    color: #6F6C90;
}

.price__item-cost_color_gray:nth-child(2n) {
    color: #999999;
}

.price__item-link {
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    width: 271px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.price__item-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 38px;
    gap: 28px;
}

.price__feature {
    position: relative;
    padding-left: 40px;
}

.price__feature::before {
    content: "";
    background: url(../images/tick-black.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    width: 30px;
    height: 25px;
}

.price__feature-link {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.price__item_mode_dark {
    padding-left: 39px;
    padding-top: 47px;
    padding-right: 40px;
    padding-bottom: 45px;
    background-color: #000000;
    color: #FFFFFF;
}

.price__item_mode_dark .price__item-title {
    color: #FFFFFF;
    opacity: 0.6;
    padding-right: 136px;
}

.price__item_mode_dark .price__item-link {
    color: #000000;
    background-color: #FFFFFF;
}

.price__item_mode_dark .price__item-features {
    color: #FFFFFF;
}

.price__item_mode_dark .price__feature-link {
    color: #FFFFFF;
}

.price__item_mode_dark .price__feature::before {
    background: url(../images/tick-white.svg) no-repeat center center;
}

.price__item-tag {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -7px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    background: linear-gradient(90deg, #ff7cf8, #ffb66d, #00dbde, #4facfe);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feedback::before,
.feedback::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    z-index: 2;
    pointer-events: none;
}

.feedback::before {
    top: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.feedback::after {
    bottom: -5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.feedback__header {
    padding-left: 110px;
    padding-right: 110px;
}

.feedback__title {
    text-align: center;
    padding-top: 24px;
}

.feedback__list {
    padding-top: 30px;
    padding-left: 52px;
    padding-right: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feedback__item {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 40%, #D2DCFF 95%);
    padding-bottom: 66px;
}

.sign__header {
    padding-left: 70px;
    padding-right: 70px;
}

.sign__title {
    text-align: center;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 40px;
}

.sign__description {
    text-align: center;
    padding-bottom: 50px;
}

.sign__list {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.sign__image {
    display: none;
}

.sign__image--emojistar {
    position: absolute;
    top: 398px;
    left: -200px;
}

.sign__image--helix {
    position: absolute;
    top: 495px;
    right: -140px;
}

@media screen and (min-width: 810px) {
    .productivity {
        position: relative;
        padding-left: 42px;
        padding-bottom: 168px;
        background: linear-gradient(200deg,
            #EAEEFE 40%, 
            #183EC2 100%);
    }

    .productivity__title {
        padding-top: 29px;
        padding-left: 2px;
    }

    .productivity__description {
        padding-top: 40px;
        padding-left: 2px;
        width: 457px;
    }

    .productivity__list {
        gap: 19px;
    }
    
    .productivity__buttons {
        padding-top: 47px;
    }

    .productivity__image--mobile {
        display: none;
    }

    .productivity__image--tablet {
        display: block;
    }

    .productivity__image--cylinder {
        display: block;
    }

    .sponsors {
        padding-left: 65px;
    }

    .product {
        padding-bottom: 28px;
        background: linear-gradient(200deg,
        #FFF 20%, 
        #D2DCFF 100%);
    }

    .product__item:nth-child(2) {
        order: 3;
    }
    
    .product__item:nth-child(4) {
        order: 4;
    }

    .product__header {
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .product__title {
        padding-top: 16px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    
    .product__description {
        padding-top: 25px;
        text-align: center;
    }

    .product__image_mobile {
        display: none;
    }

    .product__image_tablet {
        display: block;
    }

    .product__image_pyramid {
        display: block;
    }
    
    .product__image_torus {
        display: block;
    }

    .product__list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        padding-top: 12px;
        padding-left: 60px;
        width: 600px;
    }

    .product__item {
        padding-bottom: 79px;
    }

    .benefits {
        padding-bottom: 187px;
    }

    .benefits__description {
        padding-top: 24px;
        padding-left: 110px;
        padding-right: 110px;
    }

    .benefits__list {
        padding-top: 65px
    }

    .price {
        padding-bottom: 259px;
    }

    .price__header {
        padding-left: 120px;
        padding-right: 120px;
    }
    
    .price__title {
        line-height: 1.1;
    }
    
    .price__description {
        padding-top: 25px;
    }

    .price__list {
        padding-top: 46px;
    }

    .feedback::before {
        top: 120px;
    }

    /*Доработать секцию с отзывами*/

    .sign {
        padding-top: 525px;
        padding-bottom: 146px;
    }
    
    .sign__title {
        padding-bottom: 20px;
    }
    
    .sign__description {
        padding-left: 110px;
        padding-right: 110px;
        padding-bottom: 51px;
    }

    .sign__image {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .productivity {
        background: linear-gradient(190deg,
            #EAEEFE 40%, 
            #183EC2 100%);
    }

    .productivity__image--tablet {
        display: none;
    }
    
    .productivity__image--desktop {
        display: block;
    }

    .productivity__image--cylinder {
        right: 539px;
    }

    .productivity__image--torus {
        display: block;
    }

    .sponsors {
        padding-left: 0;
    }

    .sponsors__list {
        gap: 57px;
    }

    .product {
        background: linear-gradient(180deg,
        #FFF 40%, 
        #D2DCFF 100%);
        padding-bottom: 66px;
    }

    .product__header {
        padding-left: 330px;
        padding-right: 330px;
    }

    .product__image_tablet {
        margin-top: -40px;
        height: 867px;
        width: 1160px;
    }

    .product__image_pyramid {
        top: 576px;
        right: -81px;
    }
    
    .product__image_torus {
        top: 858px;
        left: -81px;
    }

    .product__list {
        flex-direction: row;
        width: 100%;
        padding-top: 0;
        padding-left: 97px;
        margin-top: -18px;
    }

    .product__item:nth-child(3) {
        order: 3;
    }

    .benefits__title {
        padding-left: 200px;
        padding-right: 200px;
    }

    .benefits__description {
        padding-left: 320px;
        padding-right: 320px;
    }

    .benefits__list {
        flex-direction: row;
    }

    .benefits {
        padding-bottom: 170px;
    }

    .price__header {
        padding-left: 320px;
        padding-right: 320px;
    }

    .price__list {
        flex-direction: row;
        align-items: flex-end;
    }

    .price {
        padding-bottom: 138px;
    }

    .price__title {
        padding-top: 13px;
    }

    .sign {
        padding-top: 428px;
    }

    .sign__description {
        padding-left: 310px;
        padding-right: 310px;
    }

    .sign__image--emojistar {
        position: absolute;
        top: 291px;
        left: -20px;
    }
    
    .sign__image--helix {
        position: absolute;
        top: 409px;
        right: 0px;
    }
}