.tag {
    border: 1px solid rgba(34, 34, 34, 0.2);;
    text-align: center;
    vertical-align: middle;
    padding-block: 7px;
    padding-inline: 13px;
    border-radius: 10px;
}

.tag__text {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -2.5%;
}