.typography {
    font-family: "DM Sans", sans-serif;
}

.typography__body_small_tag {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.typography__h1 {
    font-size: 53px;
    font-weight: 700;
    letter-spacing: -2.3px;
    line-height: 1.01;
    background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent;
}

.typography__h1_L {
    font-size: 58px;
    font-weight: 700;
}

.typography__h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 1;
    background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent;
}

.typography__h3 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -7%;
    background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent;
}

.typography__h4 {
    font-size: 25px;
    font-weight: 600;
    
    background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent;
}

.typography__h5 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.typography__number {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: -6%;
}

.typography__body_medium {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 1.47;
    word-spacing: 1px;
    /* background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent; */
}

.typography__body_large {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 1.4;
    background: linear-gradient(90deg, #000000, #001354);
    background-clip: text;
    color: transparent;
}

.typography__body_bold {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -2%;
}

.typography__body_s {
    font-size: 14px;
}